@font-face{font-family: Cream; 
    src: url(../fonts/cream-DEMO.otf);
    src: url(../fonts/cream-DEMO.ttf);
}

@font-face{font-family:LocalBrewerySans;
    src: url(../fonts/LocalBrewerySans.otf);
    src: url(../fonts/LocalBrewerySans.ttf);
}

@font-face{font-family:Cabriole;
    src: url(../fonts/CabrioleDemoBold.ttf);
    src: url(../fonts/CabrioleDemoBoldItalic.ttf);
    src: url(../fonts/CabrioleDemoCondensed.ttf);
    src: url(../fonts/CabrioleDemoItalic.ttf);
    src: url(../fonts/CabrioleDemoLight.ttf);
    src: url(../fonts/CabrioleDemoLightItalic.ttf);
    src: url(../fonts/CabrioleDemoRegular.ttf);
}

body {
    margin: 0;
    padding: 0;
    background-image: url("../media/berry-bg.png"); 
}

div#navibar {
    background-image: url("../media/navibar-design.png");
    display: inline-block;
    width: 100%;
    position: sticky;
    top: 0px;
    z-index:3;
}
  
div#leftie {
    float: left;
    display: inline-block;
    padding-left: 15px;
}

div#leftie h2 {
    float: right;
    padding-top: 7px;
    font-family:'Cream';
}

div#leftie span {
    color:mediumvioletred;
}
  
div#rightie {
    float: right;
    padding-top: 15px;
}

div#rightie a:link{
    font-family:'LocalBrewerySans';
    color: white;
    text-decoration:none;
    font-weight:bold;
    margin-right: 45px; 
}

div#rightie a:hover{
    font-family:'LocalBrewerySans';
    color: red;
    text-decoration:none;
    font-weight:bold;
    margin-right: 45px; 
}

div#rightie a:visited{
    font-family:'LocalBrewerySans';
    color: purple;
    text-decoration:none;
    font-weight:bold;
    margin-right: 45px; 
}

div#content1 {
    display:flex;
    justify-content: center;
    width: 100%;
}

div#content2 {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-top: 60px;
    padding-left: 40px;
    padding-right: 40px;
}

div#slideshow-container {
    position: relative;
}

div#slideshow-sidebar {
    position:relative;
    z-index: 2;
    background-color:beige;
    max-width: 400px;
    width: 400px;
}

div#straw-desc {
    font-family:'LocalBrewerySans';
    text-align:justify;
    margin: 20px;
    background-image:url("../media/berry-gridbrow.png");
    border-radius: 20%;
    color:white;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 60px;
    padding-bottom: 20px;
}

div#straw-desc span#a{
    font-family:'Arial';
}

div#straw-desc span#b{
    color:lightpink;
}

img#straw-title{
    position:absolute;
    z-index: 2;
    top: -70px;
    left: 5px;
}

.berry-slide{
    z-index:1;
    position: absolute;
    top: 15px;
    left: 65px;
    border-radius: 5%;
    border: 5px black solid;
    object-fit: cover;
    width:600px;
    height: 320px;
    opacity:0;
    transition: opacity 1s ease-out;
}

div#berry-contacts{
    font-family:'LocalBrewerySans';
    font-size: 18px;
    margin:20px;
    background-color:rgba(241, 182, 183, 0.5);
}

div#berry-contacts span{
    font-family:'Arial';
}

div#content3{
    display: flex;
    margin-top: 60px;
    margin-left:100px;
    margin-right:100px;
    justify-content: space-around;
}

div#content3 a{
    font-family: 'Cream';
    text-decoration: none;
    color: black;
}

div#content3 a:hover{
    font-family: 'Cabriole';
    text-decoration: none;
    color:white;
}

div#content3 img {
    margin-bottom: -25px;
}

div#content3 p {
    margin-top: -15px;
    margin-left: 12px;
}

div#berry-box1{
    border:5px white solid;
    background-color: #6ed6ca;
    border-radius: 10%;
    font-family: 'LocalBrewerySans';
    padding-right:10px;
}

div#berry-box2{
    border:5px white solid;
    background-color: #Ec2a7a;
    border-radius: 10%;
    font-family: 'LocalBrewerySans';
    padding-right:10px;
}

div#berry-box3{
    border:5px white solid;
    background-color: #Ffb3a6;
    border-radius: 10%;
    font-family: 'LocalBrewerySans';
    padding-right:10px;
}

div#footer {
    font-family:'Garamond';
    background-color: rgba(255, 255, 255,0.5);
    text-align: center;
    margin: 70px;
}

div#footer h4{
    font-size: 20px;
}

div#berry-logofoot {
    display: flex;
    justify-content: center;
    gap:800px;
    font-family: 'Cream';
}

div#berry-logofoot img{
    margin-bottom: -40px;
}

div#berry-logofoot span{
    color:mediumvioletred;
}

div#berry-logofoot h4{
    margin-right: 20px;
}

div#berry-webprog {
    padding-top: 25px;
}